/*主体部分 */

.container {
  width: 100%;
  height: 100%;
  display: none;
}

img {
  vertical-align: middle;
}


/*头部 */

.top {
  position: relative;
}

.top,
.top-bg {
  width: 100%;
}

.top span {
  position: absolute;
  bottom: 30px;
  right: 115px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.my-icon {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  right: 3%;
  background-color: #fff;
  padding: 3px;
}

.my-icon img {
  width: 75px;
}


/*列表*/

.list {
  margin: 50px 0;
}

.list li {
  padding: 50px 25px;
  border-bottom: 1px solid #f3f1f2;
}